In [1]:
import pandas as pd
import argparse
import numpy as np
from influxdb import InfluxDBClient
stocks = pd.read_csv("data_stock_50.csv", index_col=0);

In [2]:
stocks.head()

,ticker,date,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
1,AAPL,1980-12-12,28.75,28.87,28.75,28.75,2093900.0,0.0,1.0,0.422706,0.424470,0.422706,0.422706,117258400.0
2,AAPL,1980-12-15,27.38,27.38,27.25,27.25,785200.0,0.0,1.0,0.402563,0.402563,0.400652,0.400652,43971200.0
3,AAPL,1980-12-16,25.37,25.37,25.25,25.25,472000.0,0.0,1.0,0.373010,0.373010,0.371246,0.371246,26432000.0
4,AAPL,1980-12-17,25.87,26.00,25.87,25.87,385900.0,0.0,1.0,0.380362,0.382273,0.380362,0.380362,21610400.0
5,AAPL,1980-12-18,26.63,26.75,26.63,26.63,327900.0,0.0,1.0,0.391536,0.393300,0.391536,0.391536,18362400.0

In [3]:
stocks.columns.values

array(['ticker', 'date', 'open', 'high', 'low', 'close', 'volume',
       'ex-dividend', 'split_ratio', 'adj_open', 'adj_high', 'adj_low',
       'adj_close', 'adj_volume'], dtype=object)

In [4]:
dF= stocks[['ticker', 'date', 'open', 'high', 'low', 'close', 'volume']]

In [5]:
dF.head()

  ticker        date   open   high    low  close     volume
1   AAPL  1980-12-12  28.75  28.87  28.75  28.75  2093900.0
2   AAPL  1980-12-15  27.38  27.38  27.25  27.25   785200.0
3   AAPL  1980-12-16  25.37  25.37  25.25  25.25   472000.0
4   AAPL  1980-12-17  25.87  26.00  25.87  25.87   385900.0
5   AAPL  1980-12-18  26.63  26.75  26.63  26.63   327900.0

In [6]:
dF["ticker"].describe()

count     397544
unique        47
top           GE
freq       14148
Name: ticker, dtype: object

In [7]:
#user = 'hoshang'
#password = 'test'
#dbname = 'adbms'
#host='localhost' 
#port=8086
## Temporarily avoid line protocol time conversion issues #412, #426, #431.
#protocol = 'json'
#client = InfluxDBClient(host, port, user, password, dbname)
#print("Create database: " + dbname)
#client.create_database(dbname)
#for i in range(0,len(dF)):
    #influx_metric = [{
     #   'measurement': 'stocks',
     #   'tags': {
     #       'ticker': dF["ticker"].iloc[i],
     #   },
     #   'time': dF["date"].iloc[i],
     #   'fields': {
     #        'open': dF['open'].iloc[i],
     #        'high': dF['high'].iloc[i], 
     #        'low' : dF['low'].iloc[i],
     #        'close': dF['close'].iloc[i],
     #        'volume' : dF['volume'].iloc[i],
     #   }
    #}]
    #client.write_points(influx_metric)

In [8]:
dF["date"].describe()

count         397544
unique         14149
top       2017-12-26
freq              47
Name: date, dtype: object

In [9]:
dF["date"]=pd.to_datetime(dF["date"])

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [10]:
dF["year"]=dF["date"].dt.year

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [11]:
dF["month"]=dF["date"].dt.month

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [12]:
dF["day"]=dF["date"].dt.day

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [13]:
dF.head()

  ticker       date   open   high    low  close     volume  year  month  day
1   AAPL 1980-12-12  28.75  28.87  28.75  28.75  2093900.0  1980     12   12
2   AAPL 1980-12-15  27.38  27.38  27.25  27.25   785200.0  1980     12   15
3   AAPL 1980-12-16  25.37  25.37  25.25  25.25   472000.0  1980     12   16
4   AAPL 1980-12-17  25.87  26.00  25.87  25.87   385900.0  1980     12   17
5   AAPL 1980-12-18  26.63  26.75  26.63  26.63   327900.0  1980     12   18

In [14]:
dF_month=dF.groupby(['year', 'month','ticker']).mean()

In [15]:
years=list(dF_month.index.levels[0])

In [16]:
years[0]

1962

In [17]:
#dF_month.index.levels[months]

In [18]:
type(dF_month)

pandas.core.frame.DataFrame

In [19]:
dF_month=dF_month.reset_index()

In [20]:
dF_month.head()

,year,month,ticker,open,high,low,close,volume,day
0,1962,1,DIS,37.960455,38.416364,37.574091,37.949091,1825.272727,16.318182
1,1962,1,GE,72.160455,72.799545,71.353636,72.143182,18163.636364,16.318182
2,1962,1,IBM,556.159091,559.329545,551.863636,554.034091,19909.090909,16.318182
3,1962,1,KO,95.397727,96.300909,94.165455,95.114091,27854.545455,16.318182
4,1962,2,DIS,38.803158,39.145789,38.585789,38.763158,2113.526316,14.315789

In [21]:
dF_month.head()

,year,month,ticker,open,high,low,close,volume,day
0,1962,1,DIS,37.960455,38.416364,37.574091,37.949091,1825.272727,16.318182
1,1962,1,GE,72.160455,72.799545,71.353636,72.143182,18163.636364,16.318182
2,1962,1,IBM,556.159091,559.329545,551.863636,554.034091,19909.090909,16.318182
3,1962,1,KO,95.397727,96.300909,94.165455,95.114091,27854.545455,16.318182
4,1962,2,DIS,38.803158,39.145789,38.585789,38.763158,2113.526316,14.315789

In [22]:
str(dF_month["year"].iloc[0])+"-"+str(dF_month["month"].iloc[0])+"-31"+"T00:00:00Z"

'1962-1-31T00:00:00Z'

In [23]:
user = 'hoshang'
password = 'test'
dbname = 'adbms'
host='localhost' 
port=8086
# Temporarily avoid line protocol time conversion issues #412, #426, #431.
protocol = 'json'
client = InfluxDBClient(host, port, user, password, dbname)
print("Create database: " + dbname)
#send_response(code, message=None) 
client.create_database(dbname)
for i in range(0,len(dF_month)):
    influx_metric = [{
        'measurement': 'stocks_month',
        'tags': {
            'ticker': dF_month["ticker"].iloc[i],
        },
        'time': str(dF_month["year"].iloc[i])+"-"+str(dF_month["month"].iloc[i])+"-28"+"T00:00:00Z",
        'fields': {
             'open': dF_month['open'].iloc[i],
             'high': dF_month['high'].iloc[i], 
             'low' : dF_month['low'].iloc[i],
             'close': dF_month['close'].iloc[i],
             'volume' : dF_month['volume'].iloc[i],
        }
    }]
    client.write_points(influx_metric)

Create database: adbms

In [24]:
dF_month.head()

,year,month,ticker,open,high,low,close,volume,day
0,1962,1,DIS,37.960455,38.416364,37.574091,37.949091,1825.272727,16.318182
1,1962,1,GE,72.160455,72.799545,71.353636,72.143182,18163.636364,16.318182
2,1962,1,IBM,556.159091,559.329545,551.863636,554.034091,19909.090909,16.318182
3,1962,1,KO,95.397727,96.300909,94.165455,95.114091,27854.545455,16.318182
4,1962,2,DIS,38.803158,39.145789,38.585789,38.763158,2113.526316,14.315789

In [25]:
dF_year=dF_month.groupby(['year','ticker']).mean()
dF_year=dF_year.reset_index()
dF_year.head()

,year,ticker,month,open,high,low,close,volume,day
0,1962,DIS,6.5,31.785422,32.108319,31.448197,31.738924,1525.447956,15.794723
1,1962,GE,6.5,70.078108,70.686144,69.409325,70.067289,17400.574926,15.794723
2,1962,IBM,6.5,433.777886,438.173561,429.226148,432.796064,72424.927473,15.794723
3,1962,KO,6.5,86.729354,87.453027,85.882380,86.628268,28334.460790,15.794723
4,1963,DIS,6.5,37.965352,38.369597,37.652577,37.983691,2708.405251,15.693402

In [26]:
user = 'hoshang'
password = 'test'
dbname = 'adbms'
host='localhost' 
port=8086
# Temporarily avoid line protocol time conversion issues #412, #426, #431.
protocol = 'json'
client = InfluxDBClient(host, port, user, password, dbname)
print("Create database: " + dbname)
#send_response(code, message=None) 
client.create_database(dbname)
for i in range(0,len(dF_year)):
    influx_metric = [{
        'measurement': 'stocks_year',
        'tags': {
            'ticker': dF_year["ticker"].iloc[i],
        },
        'time': str(dF_year["year"].iloc[i])+"-12-31"+"T00:00:00Z",
        'fields': {
             'open': dF_year['open'].iloc[i],
             'high': dF_year['high'].iloc[i], 
             'low' : dF_year['low'].iloc[i],
             'close': dF_year['close'].iloc[i],
             'volume' : dF_year['volume'].iloc[i],
        }
    }]
    client.write_points(influx_metric)

Create database: adbms

In [28]:
codes=pd.read_csv("WIKI-codes.csv")

In [29]:
codes.head()

   WIKI/AAPL Apple Inc (AAPL) Prices, Dividends, Splits and Trading Volume
0   WIKI/ABC  AmerisourceBergen Corp. (ABC) Prices, Dividend...
1    WIKI/AA  Alcoa Inc. (AA) Prices, Dividends, Splits and ...
2  WIKI/ABBV  AbbVie Inc. (ABBV) Prices, Dividends, Splits a...
3   WIKI/ACE  ACE Ltd (ACE) Prices, Dividends, Splits and Tr...
4   WIKI/AGN  Allergan Inc. (AGN) Prices, Dividends, Splits ...

In [30]:
dF_avg=dF_year.groupby("ticker").mean()

In [31]:
dF_avg=dF_avg.reset_index()
dF_avg.describe()

,year,month,open,high,low,close,volume,day
count,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,4.700000e+01,47.000000
mean,2001.138298,6.393640,83.056340,83.927813,82.160062,83.068552,9.177283e+06,15.672918
std,7.366716,0.161788,87.953494,88.799159,87.045361,87.940053,1.158733e+07,0.122617
min,1990.000000,5.500000,29.311973,29.593651,29.008505,29.315442,1.674697e+05,15.230157
25%,1995.000000,6.392857,50.594126,51.296291,49.859219,50.573405,2.869482e+06,15.666615
50%,2001.000000,6.421053,63.317784,63.856577,62.790028,63.343575,4.705490e+06,15.677023
75%,2005.500000,6.457447,78.105080,78.776593,77.470353,78.139530,9.293489e+06,15.683654
max,2017.500000,6.538462,604.635975,610.334522,598.481374,604.490573,5.019737e+07,16.058197

In [32]:
user = 'hoshang'
password = 'test'
dbname = 'adbms'
host='localhost' 
port=8086
# Temporarily avoid line protocol time conversion issues #412, #426, #431.
protocol = 'json'
client = InfluxDBClient(host, port, user, password, dbname)
print("Create database: " + dbname)
#send_response(code, message=None) 
client.create_database(dbname)
for i in range(0,len(dF_avg)):
    influx_metric = [{
        'measurement': 'stocks_avg',
        'tags': {
            'ticker': dF_avg["ticker"].iloc[i],
        },
        'time': str("2018-04-14"+"T00:00:00Z"),
        'fields': {
            'open': dF_avg['open'].iloc[i],
            'high': dF_avg['high'].iloc[i], 
            'low' : dF_avg['low'].iloc[i],
            'close': dF_avg['close'].iloc[i],
            'volume' : dF_avg['volume'].iloc[i],
        }
    }]
    client.write_points(influx_metric)

Create database: adbms

In [33]:
investor=pd.read_csv("investor.csv")
investor.head()

,ticker,investorname,securitytype,calendardate,value,units,price
0,AAPL,VANGUARD GROUP INC,SHR,31-12-2015,33995618000,322968066,105
1,MSFT,VANGUARD GROUP INC,SHR,31-12-2015,26926432000,485335822,55
2,GOOGL,VANGUARD GROUP INC,SHR,31-12-2015,26700650000,34749269,768
3,GOOGL,FMR LLC,SHR,31-12-2015,26299708000,34194455,769
4,WFC,BERKSHIRE HATHAWAY INC,SHR,31-12-2015,26076724000,479704270,54

In [34]:
user = 'hoshang'
password = 'test'
dbname = 'adbms'
host='localhost' 
port=8086
# Temporarily avoid line protocol time conversion issues #412, #426, #431.
protocol = 'json'
client = InfluxDBClient(host, port, user, password, dbname)
print("Create database: " + dbname)
#send_response(code, message=None) 
client.create_database(dbname)
for i in range(0,len(investor)):
    influx_metric = [{
        'measurement': 'investor',
        'tags': {
            'id': investor.index[i],
            'ticker': investor['ticker'].iloc[i],
            'investorname': investor['investorname'].iloc[i],
        },
        'time': str("2015-12-31"+"T00:00:00Z"),
        'fields': {
            'securitytype': investor['securitytype'].iloc[i], 
            'value': investor['value'].iloc[i],
            'units' : investor['units'].iloc[i],
            'price' : investor['price'].iloc[i]
        }
    }]
    client.write_points(influx_metric)

Create database: adbms

# Fact table- GroupBy "ticker" and "investorname"

In [35]:
investor1=investor.groupby("ticker").agg({'investorname': 'count','value':'sum','units':'sum'}).reset_index().rename(columns={'ticker':'ticker','investorname':'number_of_investors','value':'total_value','units':'total_units'})

In [36]:
investor1.columns

Index(['ticker', 'number_of_investors', 'total_value', 'total_units'], dtype='object')

In [37]:
len(pd.unique(investor["ticker"]))

1199

In [38]:
investor1.head()

  ticker  number_of_investors   total_value  total_units
0      A                    8    5154263000    123278092
1   AABA                   11    8100122000    243539496
2    AAL                    8    9063607000    214016600
3    AAP                    5    3444103000     22883003
4   AAPL                  163  314074298802   2983068638

In [39]:
investor1.to_csv("fact1.csv")

In [40]:
investor2=investor.groupby('investorname').agg({'ticker':'count', 'value': 'sum','units':'sum'}).reset_index().rename(columns={'ticker':'No_of_Ticker','value':'Total_value_invested','units':'Total_Units'})

In [41]:
len(pd.unique(investor["investorname"]))

518

In [42]:
len(investor2["investorname"])

518

In [43]:
investor2.to_csv("fact2.csv")

In [44]:
investor2.head()

,investorname,No_of_Ticker,Total_value_invested,Total_Units
0,1832 ASSET MANAGEMENT LP,15,7206330000,149688779
1,3I INVESTMENTS PLC,1,426276000,6208501
2,ABERDEEN ASSET MANAGEMENT PLC,22,16685517000,673683855
3,ABRAMS CAPITAL MANAGEMENT LP,1,387012000,21608707
4,ACADIAN ASSET MANAGEMENT LLC,2,749268000,23143102

# Loading fact tables into influx

In [45]:
user = 'hoshang'
password = 'test'
dbname = 'adbms'
host='localhost' 
port=8086
# Temporarily avoid line protocol time conversion issues #412, #426, #431.
protocol = 'json'
client = InfluxDBClient(host, port, user, password, dbname)
print("Create database: " + dbname)
#send_response(code, message=None) 
client.create_database(dbname)
for i in range(0,len(investor1)):
    influx_metric = [{
        'measurement': 'investor_fact1',
        'tags': {
            'id': i,
            'ticker': investor1['ticker'].iloc[i],
            
        },
        'time': str("2015-12-31"+"T00:00:00Z"),
        'fields': {
            'investorname': investor1['number_of_investors'].iloc[i],
            'total_value': investor1['total_value'].iloc[i], 
            'total_units': investor1['total_units'].iloc[i],
        }
    }]
    client.write_points(influx_metric)

Create database: adbms

In [46]:
user = 'hoshang'
password = 'test'
dbname = 'adbms'
host='localhost' 
port=8086
# Temporarily avoid line protocol time conversion issues #412, #426, #431.
protocol = 'json'
client = InfluxDBClient(host, port, user, password, dbname)
print("Create database: " + dbname)
#send_response(code, message=None) 
client.create_database(dbname)
for i in range(0,len(investor2)):
    influx_metric = [{
        'measurement': 'investor_fact2',
        'tags': {
            'id': i,
            'investorname': investor2['investorname'].iloc[i],
            
        },
        'time': str("2015-12-31"+"T00:00:00Z"),
        'fields': {
            'No_of_Ticker': investor2['No_of_Ticker'].iloc[i],
            'Total_value_invested': investor2['Total_value_invested'].iloc[i], 
            'Total_Units': investor2['Total_Units'].iloc[i],
        }
    }]
    client.write_points(influx_metric)

Create database: adbms