In [1]:
import pandas as pd
import argparse
import numpy as np
from influxdb import InfluxDBClient
stocks = pd.read_csv("data_stock_50.csv", index_col=0);

In [2]:
stocks

,ticker,date,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
1,AAPL,1980-12-12,28.75,28.8700,28.7500,28.75,2093900.0,0.0,1.0,0.422706,0.424470,0.422706,0.422706,117258400.0
2,AAPL,1980-12-15,27.38,27.3800,27.2500,27.25,785200.0,0.0,1.0,0.402563,0.402563,0.400652,0.400652,43971200.0
3,AAPL,1980-12-16,25.37,25.3700,25.2500,25.25,472000.0,0.0,1.0,0.373010,0.373010,0.371246,0.371246,26432000.0
4,AAPL,1980-12-17,25.87,26.0000,25.8700,25.87,385900.0,0.0,1.0,0.380362,0.382273,0.380362,0.380362,21610400.0
5,AAPL,1980-12-18,26.63,26.7500,26.6300,26.63,327900.0,0.0,1.0,0.391536,0.393300,0.391536,0.391536,18362400.0
6,AAPL,1980-12-19,28.25,28.3800,28.2500,28.25,217100.0,0.0,1.0,0.415355,0.417266,0.415355,0.415355,12157600.0
7,AAPL,1980-12-22,29.63,29.7500,29.6300,29.63,166800.0,0.0,1.0,0.435644,0.437409,0.435644,0.435644,9340800.0
8,AAPL,1980-12-23,30.88,31.0000,30.8800,30.88,209600.0,0.0,1.0,0.454023,0.455787,0.454023,0.454023,11737600.0
9,AAPL,1980-12-24,32.50,32.6300,32.5000,32.50,214300.0,0.0,1.0,0.477841,0.479753,0.477841,0.477841,12000800.0
10,AAPL,1980-12-26,35.50,35.6200,35.5000,35.50,248100.0,0.0,1.0,0.521950,0.523714,0.521950,0.521950,13893600.0
11,AAPL,1980-12-29,36.00,36.1300,36.0000,36.00,415900.0,0.0,1.0,0.529301,0.531213,0.529301,0.529301,23290400.0
12,AAPL,1980-12-30,35.25,35.2500,35.1200,35.12,307500.0,0.0,1.0,0.518274,0.518274,0.516363,0.516363,17220000.0
13,AAPL,1980-12-31,34.25,34.2500,34.1300,34.13,159600.0,0.0,1.0,0.503571,0.503571,0.501807,0.501807,8937600.0
14,AAPL,1981-01-02,34.50,34.7500,34.5000,34.50,96700.0,0.0,1.0,0.507247,0.510923,0.507247,0.507247,5415200.0
15,AAPL,1981-01-05,33.87,33.8700,33.7500,33.75,159500.0,0.0,1.0,0.497984,0.497984,0.496220,0.496220,8932000.0
16,AAPL,1981-01-06,32.37,32.3700,32.2500,32.25,201600.0,0.0,1.0,0.475930,0.475930,0.474166,0.474166,11289600.0
17,AAPL,1981-01-07,31.00,31.0000,30.8800,30.88,248600.0,0.0,1.0,0.455787,0.455787,0.454023,0.454023,13921600.0
18,AAPL,1981-01-08,30.37,30.3700,30.2500,30.25,177800.0,0.0,1.0,0.446524,0.446524,0.444760,0.444760,9956800.0
19,AAPL,1981-01-09,31.88,32.0000,31.8800,31.88,96000.0,0.0,1.0,0.468726,0.470490,0.468726,0.468726,5376000.0
20,AAPL,1981-01-12,31.88,31.8800,31.6200,31.62,105800.0,0.0,1.0,0.468726,0.468726,0.464903,0.464903,5924800.0
21,AAPL,1981-01-13,30.63,30.6300,30.5000,30.50,102900.0,0.0,1.0,0.450347,0.450347,0.448436,0.448436,5762400.0
22,AAPL,1981-01-14,30.63,30.7500,30.6300,30.63,63800.0,0.0,1.0,0.450347,0.452112,0.450347,0.450347,3572800.0
23,AAPL,1981-01-15,31.25,31.5000,31.2500,31.25,62800.0,0.0,1.0,0.459463,0.463139,0.459463,0.459463,3516800.0
24,AAPL,1981-01-16,31.12,31.1200,31.0000,31.00,59800.0,0.0,1.0,0.457552,0.457552,0.455787,0.455787,3348800.0
25,AAPL,1981-01-19,32.87,33.0000,32.8700,32.87,185600.0,0.0,1.0,0.483282,0.485193,0.483282,0.483282,10393600.0
26,AAPL,1981-01-20,32.00,32.0000,31.8800,31.88,134300.0,0.0,1.0,0.470490,0.470490,0.468726,0.468726,7520800.0
27,AAPL,1981-01-21,32.50,32.7500,32.5000,32.50,71000.0,0.0,1.0,0.477841,0.481517,0.477841,0.477841,3976000.0
28,AAPL,1981-01-22,32.87,33.1300,32.8700,32.87,158700.0,0.0,1.0,0.483282,0.487104,0.483282,0.483282,8887200.0
29,AAPL,1981-01-23,32.87,33.0000,32.7500,32.75,50100.0,0.0,1.0,0.483282,0.485193,0.481517,0.481517,2805600.0
30,AAPL,1981-01-26,32.37,32.3700,32.2500,32.25,110000.0,0.0,1.0,0.475930,0.475930,0.474166,0.474166,6160000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397515,AGN,2018-02-02,177.74,178.1200,172.3000,172.51,3385681.0,0.0,1.0,177.740000,178.120000,172.300000,172.510000,3385681.0
397516,AGN,2018-02-05,171.90,172.4300,165.0000,165.00,4588076.0,0.0,1.0,171.900000,172.430000,165.000000,165.000000,4588076.0
397517,AGN,2018-02-06,166.30,175.0000,160.3000,168.33,8233573.0,0.0,1.0,166.300000,175.000000,160.300000,168.330000,8233573.0
397518,AGN,2018-02-07,168.93,172.9800,167.0700,170.39,3480616.0,0.0,1.0,168.930000,172.980000,167.070000,170.390000,3480616.0
397519,AGN,2018-02-08,170.64,172.5800,164.1100,164.20,3452019.0,0.0,1.0,170.640000,172.580000,164.110000,164.200000,3452019.0
397520,AGN,2018-02-09,165.04,166.5800,157.7000,162.77,4233822.0,0.0,1.0,165.040000,166.580000,157.700000,162.770000,4233822.0
397521,AGN,2018-02-12,164.04,164.7400,160.2700,162.46,3064147.0,0.0,1.0,164.040000,164.740000,160.270000,162.460000,3064147.0
397522,AGN,2018-02-13,161.25,162.4600,156.1100,158.72,3239435.0,0.0,1.0,161.250000,162.460000,156.110000,158.720000,3239435.0
397523,AGN,2018-02-14,157.19,167.0000,156.0000,166.63,4799344.0,0.0,1.0,157.190000,167.000000,156.000000,166.630000,4799344.0
397524,AGN,2018-02-15,168.14,169.5000,162.7100,164.47,3402381.0,0.0,1.0,168.140000,169.500000,162.710000,164.470000,3402381.0
397525,AGN,2018-02-16,164.35,165.7500,162.9000,164.04,2647430.0,0.0,1.0,164.350000,165.750000,162.900000,164.040000,2647430.0
397526,AGN,2018-02-20,163.07,164.0000,160.2464,160.59,2462273.0,0.0,1.0,163.070000,164.000000,160.246400,160.590000,2462273.0
397527,AGN,2018-02-21,160.25,162.0200,159.2300,159.31,2682218.0,0.0,1.0,160.250000,162.020000,159.230000,159.310000,2682218.0
397528,AGN,2018-02-22,159.70,161.6600,158.9900,159.40,2761197.0,0.0,1.0,159.700000,161.660000,158.990000,159.400000,2761197.0
397529,AGN,2018-02-23,161.53,162.5600,160.0500,162.09,2566425.0,0.0,1.0,161.530000,162.560000,160.050000,162.090000,2566425.0
397530,AGN,2018-02-26,162.11,166.1700,161.5100,165.76,2694742.0,0.0,1.0,162.110000,166.170000,161.510000,165.760000,2694742.0
397531,AGN,2018-02-27,164.70,165.8900,159.8600,159.91,3250935.0,0.0,1.0,164.700000,165.890000,159.860000,159.910000,3250935.0
397532,AGN,2018-02-28,160.90,161.0900,153.2600,154.22,5928651.0,0.0,1.0,160.900000,161.090000,153.260000,154.220000,5928651.0
397533,AGN,2018-03-01,150.76,151.8000,144.7500,148.19,9340223.0,0.0,1.0,150.760000,151.800000,144.750000,148.190000,9340223.0
397534,AGN,2018-03-02,147.18,147.2700,143.1000,144.02,8464754.0,0.0,1.0,147.180000,147.270000,143.100000,144.020000,8464754.0
397535,AGN,2018-03-05,143.42,149.6500,142.8100,148.73,4028970.0,0.0,1.0,143.420000,149.650000,142.810000,148.730000,4028970.0
397536,AGN,2018-03-06,149.25,151.7000,148.2100,150.71,3304358.0,0.0,1.0,149.250000,151.700000,148.210000,150.710000,3304358.0
397537,AGN,2018-03-07,149.28,153.2800,148.8900,153.22,2927674.0,0.0,1.0,149.280000,153.280000,148.890000,153.220000,2927674.0
397538,AGN,2018-03-08,153.96,154.4655,151.5100,153.50,3242909.0,0.0,1.0,153.960000,154.465500,151.510000,153.500000,3242909.0
397539,AGN,2018-03-09,154.96,157.4300,153.7900,157.28,3291115.0,0.0,1.0,154.960000,157.430000,153.790000,157.280000,3291115.0
397540,AGN,2018-03-12,157.59,160.0400,157.5200,158.41,2733848.0,0.0,1.0,157.590000,160.040000,157.520000,158.410000,2733848.0
397541,AGN,2018-03-13,159.19,164.6000,158.7400,163.19,4250323.0,0.0,1.0,159.190000,164.600000,158.740000,163.190000,4250323.0
397542,AGN,2018-03-14,163.24,168.8500,163.2400,167.06,5032757.0,0.0,1.0,163.240000,168.850000,163.240000,167.060000,5032757.0
397543,AGN,2018-03-15,167.22,168.5799,164.9800,166.12,3641273.0,0.0,1.0,167.220000,168.579900,164.980000,166.120000,3641273.0
397544,AGN,2018-03-16,166.80,170.8100,166.7400,168.96,3681367.0,0.0,1.0,166.800000,170.810000,166.740000,168.960000,3681367.0

In [3]:
stocks.columns.values

array(['ticker', 'date', 'open', 'high', 'low', 'close', 'volume',
       'ex-dividend', 'split_ratio', 'adj_open', 'adj_high', 'adj_low',
       'adj_close', 'adj_volume'], dtype=object)

In [4]:
dF= stocks[['ticker', 'date', 'open', 'high', 'low', 'close', 'volume']]

In [5]:
dF

       ticker        date    open      high       low   close     volume
1        AAPL  1980-12-12   28.75   28.8700   28.7500   28.75  2093900.0
2        AAPL  1980-12-15   27.38   27.3800   27.2500   27.25   785200.0
3        AAPL  1980-12-16   25.37   25.3700   25.2500   25.25   472000.0
4        AAPL  1980-12-17   25.87   26.0000   25.8700   25.87   385900.0
5        AAPL  1980-12-18   26.63   26.7500   26.6300   26.63   327900.0
6        AAPL  1980-12-19   28.25   28.3800   28.2500   28.25   217100.0
7        AAPL  1980-12-22   29.63   29.7500   29.6300   29.63   166800.0
8        AAPL  1980-12-23   30.88   31.0000   30.8800   30.88   209600.0
9        AAPL  1980-12-24   32.50   32.6300   32.5000   32.50   214300.0
10       AAPL  1980-12-26   35.50   35.6200   35.5000   35.50   248100.0
11       AAPL  1980-12-29   36.00   36.1300   36.0000   36.00   415900.0
12       AAPL  1980-12-30   35.25   35.2500   35.1200   35.12   307500.0
13       AAPL  1980-12-31   34.25   34.2500   34.1300   34.13   159600.0
14       AAPL  1981-01-02   34.50   34.7500   34.5000   34.50    96700.0
15       AAPL  1981-01-05   33.87   33.8700   33.7500   33.75   159500.0
16       AAPL  1981-01-06   32.37   32.3700   32.2500   32.25   201600.0
17       AAPL  1981-01-07   31.00   31.0000   30.8800   30.88   248600.0
18       AAPL  1981-01-08   30.37   30.3700   30.2500   30.25   177800.0
19       AAPL  1981-01-09   31.88   32.0000   31.8800   31.88    96000.0
20       AAPL  1981-01-12   31.88   31.8800   31.6200   31.62   105800.0
21       AAPL  1981-01-13   30.63   30.6300   30.5000   30.50   102900.0
22       AAPL  1981-01-14   30.63   30.7500   30.6300   30.63    63800.0
23       AAPL  1981-01-15   31.25   31.5000   31.2500   31.25    62800.0
24       AAPL  1981-01-16   31.12   31.1200   31.0000   31.00    59800.0
25       AAPL  1981-01-19   32.87   33.0000   32.8700   32.87   185600.0
26       AAPL  1981-01-20   32.00   32.0000   31.8800   31.88   134300.0
27       AAPL  1981-01-21   32.50   32.7500   32.5000   32.50    71000.0
28       AAPL  1981-01-22   32.87   33.1300   32.8700   32.87   158700.0
29       AAPL  1981-01-23   32.87   33.0000   32.7500   32.75    50100.0
30       AAPL  1981-01-26   32.37   32.3700   32.2500   32.25   110000.0
...       ...         ...     ...       ...       ...     ...        ...
397515    AGN  2018-02-02  177.74  178.1200  172.3000  172.51  3385681.0
397516    AGN  2018-02-05  171.90  172.4300  165.0000  165.00  4588076.0
397517    AGN  2018-02-06  166.30  175.0000  160.3000  168.33  8233573.0
397518    AGN  2018-02-07  168.93  172.9800  167.0700  170.39  3480616.0
397519    AGN  2018-02-08  170.64  172.5800  164.1100  164.20  3452019.0
397520    AGN  2018-02-09  165.04  166.5800  157.7000  162.77  4233822.0
397521    AGN  2018-02-12  164.04  164.7400  160.2700  162.46  3064147.0
397522    AGN  2018-02-13  161.25  162.4600  156.1100  158.72  3239435.0
397523    AGN  2018-02-14  157.19  167.0000  156.0000  166.63  4799344.0
397524    AGN  2018-02-15  168.14  169.5000  162.7100  164.47  3402381.0
397525    AGN  2018-02-16  164.35  165.7500  162.9000  164.04  2647430.0
397526    AGN  2018-02-20  163.07  164.0000  160.2464  160.59  2462273.0
397527    AGN  2018-02-21  160.25  162.0200  159.2300  159.31  2682218.0
397528    AGN  2018-02-22  159.70  161.6600  158.9900  159.40  2761197.0
397529    AGN  2018-02-23  161.53  162.5600  160.0500  162.09  2566425.0
397530    AGN  2018-02-26  162.11  166.1700  161.5100  165.76  2694742.0
397531    AGN  2018-02-27  164.70  165.8900  159.8600  159.91  3250935.0
397532    AGN  2018-02-28  160.90  161.0900  153.2600  154.22  5928651.0
397533    AGN  2018-03-01  150.76  151.8000  144.7500  148.19  9340223.0
397534    AGN  2018-03-02  147.18  147.2700  143.1000  144.02  8464754.0
397535    AGN  2018-03-05  143.42  149.6500  142.8100  148.73  4028970.0
397536    AGN  2018-03-06  149.25  151.7000  148.2100  150.71  3304358.0
397537    AGN  2018-03-07  149.28  153.2800  148.8900  153.22  2927674.0
397538    AGN  2018-03-08  153.96  154.4655  151.5100  153.50  3242909.0
397539    AGN  2018-03-09  154.96  157.4300  153.7900  157.28  3291115.0
397540    AGN  2018-03-12  157.59  160.0400  157.5200  158.41  2733848.0
397541    AGN  2018-03-13  159.19  164.6000  158.7400  163.19  4250323.0
397542    AGN  2018-03-14  163.24  168.8500  163.2400  167.06  5032757.0
397543    AGN  2018-03-15  167.22  168.5799  164.9800  166.12  3641273.0
397544    AGN  2018-03-16  166.80  170.8100  166.7400  168.96  3681367.0

[397544 rows x 7 columns]

In [6]:
dF["ticker"]

1         AAPL
2         AAPL
3         AAPL
4         AAPL
5         AAPL
6         AAPL
7         AAPL
8         AAPL
9         AAPL
10        AAPL
11        AAPL
12        AAPL
13        AAPL
14        AAPL
15        AAPL
16        AAPL
17        AAPL
18        AAPL
19        AAPL
20        AAPL
21        AAPL
22        AAPL
23        AAPL
24        AAPL
25        AAPL
26        AAPL
27        AAPL
28        AAPL
29        AAPL
30        AAPL
          ...
397515     AGN
397516     AGN
397517     AGN
397518     AGN
397519     AGN
397520     AGN
397521     AGN
397522     AGN
397523     AGN
397524     AGN
397525     AGN
397526     AGN
397527     AGN
397528     AGN
397529     AGN
397530     AGN
397531     AGN
397532     AGN
397533     AGN
397534     AGN
397535     AGN
397536     AGN
397537     AGN
397538     AGN
397539     AGN
397540     AGN
397541     AGN
397542     AGN
397543     AGN
397544     AGN
Name: ticker, Length: 397544, dtype: object

In [7]:
#user = 'hoshang'
#password = 'test'
#dbname = 'adbms'
#host='localhost' 
#port=8086
## Temporarily avoid line protocol time conversion issues #412, #426, #431.
#protocol = 'json'
#client = InfluxDBClient(host, port, user, password, dbname)
#print("Create database: " + dbname)
#client.create_database(dbname)
#for i in range(0,len(dF)):
    #influx_metric = [{
     #   'measurement': 'stocks',
     #   'tags': {
     #       'ticker': dF["ticker"].iloc[i],
     #   },
     #   'time': dF["date"].iloc[i],
     #   'fields': {
     #        'open': dF['open'].iloc[i],
     #        'high': dF['high'].iloc[i], 
     #        'low' : dF['low'].iloc[i],
     #        'close': dF['close'].iloc[i],
     #        'volume' : dF['volume'].iloc[i],
     #   }
    #}]
    #client.write_points(influx_metric)

In [8]:
dF["date"]

1         1980-12-12
2         1980-12-15
3         1980-12-16
4         1980-12-17
5         1980-12-18
6         1980-12-19
7         1980-12-22
8         1980-12-23
9         1980-12-24
10        1980-12-26
11        1980-12-29
12        1980-12-30
13        1980-12-31
14        1981-01-02
15        1981-01-05
16        1981-01-06
17        1981-01-07
18        1981-01-08
19        1981-01-09
20        1981-01-12
21        1981-01-13
22        1981-01-14
23        1981-01-15
24        1981-01-16
25        1981-01-19
26        1981-01-20
27        1981-01-21
28        1981-01-22
29        1981-01-23
30        1981-01-26
             ...
397515    2018-02-02
397516    2018-02-05
397517    2018-02-06
397518    2018-02-07
397519    2018-02-08
397520    2018-02-09
397521    2018-02-12
397522    2018-02-13
397523    2018-02-14
397524    2018-02-15
397525    2018-02-16
397526    2018-02-20
397527    2018-02-21
397528    2018-02-22
397529    2018-02-23
397530    2018-02-26
397531    2018-02-27
397532    2018-02-28
397533    2018-03-01
397534    2018-03-02
397535    2018-03-05
397536    2018-03-06
397537    2018-03-07
397538    2018-03-08
397539    2018-03-09
397540    2018-03-12
397541    2018-03-13
397542    2018-03-14
397543    2018-03-15
397544    2018-03-16
Name: date, Length: 397544, dtype: object

In [9]:
dF["date"]=pd.to_datetime(dF["date"])

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [10]:
dF["year"]=dF["date"].dt.year

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [11]:
dF["month"]=dF["date"].dt.month

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [12]:
dF["day"]=dF["date"].dt.day

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [13]:
dF

,ticker,date,open,high,low,close,volume,year,month,day
1,AAPL,1980-12-12,28.75,28.8700,28.7500,28.75,2093900.0,1980,12,12
2,AAPL,1980-12-15,27.38,27.3800,27.2500,27.25,785200.0,1980,12,15
3,AAPL,1980-12-16,25.37,25.3700,25.2500,25.25,472000.0,1980,12,16
4,AAPL,1980-12-17,25.87,26.0000,25.8700,25.87,385900.0,1980,12,17
5,AAPL,1980-12-18,26.63,26.7500,26.6300,26.63,327900.0,1980,12,18
6,AAPL,1980-12-19,28.25,28.3800,28.2500,28.25,217100.0,1980,12,19
7,AAPL,1980-12-22,29.63,29.7500,29.6300,29.63,166800.0,1980,12,22
8,AAPL,1980-12-23,30.88,31.0000,30.8800,30.88,209600.0,1980,12,23
9,AAPL,1980-12-24,32.50,32.6300,32.5000,32.50,214300.0,1980,12,24
10,AAPL,1980-12-26,35.50,35.6200,35.5000,35.50,248100.0,1980,12,26
11,AAPL,1980-12-29,36.00,36.1300,36.0000,36.00,415900.0,1980,12,29
12,AAPL,1980-12-30,35.25,35.2500,35.1200,35.12,307500.0,1980,12,30
13,AAPL,1980-12-31,34.25,34.2500,34.1300,34.13,159600.0,1980,12,31
14,AAPL,1981-01-02,34.50,34.7500,34.5000,34.50,96700.0,1981,1,2
15,AAPL,1981-01-05,33.87,33.8700,33.7500,33.75,159500.0,1981,1,5
16,AAPL,1981-01-06,32.37,32.3700,32.2500,32.25,201600.0,1981,1,6
17,AAPL,1981-01-07,31.00,31.0000,30.8800,30.88,248600.0,1981,1,7
18,AAPL,1981-01-08,30.37,30.3700,30.2500,30.25,177800.0,1981,1,8
19,AAPL,1981-01-09,31.88,32.0000,31.8800,31.88,96000.0,1981,1,9
20,AAPL,1981-01-12,31.88,31.8800,31.6200,31.62,105800.0,1981,1,12
21,AAPL,1981-01-13,30.63,30.6300,30.5000,30.50,102900.0,1981,1,13
22,AAPL,1981-01-14,30.63,30.7500,30.6300,30.63,63800.0,1981,1,14
23,AAPL,1981-01-15,31.25,31.5000,31.2500,31.25,62800.0,1981,1,15
24,AAPL,1981-01-16,31.12,31.1200,31.0000,31.00,59800.0,1981,1,16
25,AAPL,1981-01-19,32.87,33.0000,32.8700,32.87,185600.0,1981,1,19
26,AAPL,1981-01-20,32.00,32.0000,31.8800,31.88,134300.0,1981,1,20
27,AAPL,1981-01-21,32.50,32.7500,32.5000,32.50,71000.0,1981,1,21
28,AAPL,1981-01-22,32.87,33.1300,32.8700,32.87,158700.0,1981,1,22
29,AAPL,1981-01-23,32.87,33.0000,32.7500,32.75,50100.0,1981,1,23
30,AAPL,1981-01-26,32.37,32.3700,32.2500,32.25,110000.0,1981,1,26
...,...,...,...,...,...,...,...,...,...,...
397515,AGN,2018-02-02,177.74,178.1200,172.3000,172.51,3385681.0,2018,2,2
397516,AGN,2018-02-05,171.90,172.4300,165.0000,165.00,4588076.0,2018,2,5
397517,AGN,2018-02-06,166.30,175.0000,160.3000,168.33,8233573.0,2018,2,6
397518,AGN,2018-02-07,168.93,172.9800,167.0700,170.39,3480616.0,2018,2,7
397519,AGN,2018-02-08,170.64,172.5800,164.1100,164.20,3452019.0,2018,2,8
397520,AGN,2018-02-09,165.04,166.5800,157.7000,162.77,4233822.0,2018,2,9
397521,AGN,2018-02-12,164.04,164.7400,160.2700,162.46,3064147.0,2018,2,12
397522,AGN,2018-02-13,161.25,162.4600,156.1100,158.72,3239435.0,2018,2,13
397523,AGN,2018-02-14,157.19,167.0000,156.0000,166.63,4799344.0,2018,2,14
397524,AGN,2018-02-15,168.14,169.5000,162.7100,164.47,3402381.0,2018,2,15
397525,AGN,2018-02-16,164.35,165.7500,162.9000,164.04,2647430.0,2018,2,16
397526,AGN,2018-02-20,163.07,164.0000,160.2464,160.59,2462273.0,2018,2,20
397527,AGN,2018-02-21,160.25,162.0200,159.2300,159.31,2682218.0,2018,2,21
397528,AGN,2018-02-22,159.70,161.6600,158.9900,159.40,2761197.0,2018,2,22
397529,AGN,2018-02-23,161.53,162.5600,160.0500,162.09,2566425.0,2018,2,23
397530,AGN,2018-02-26,162.11,166.1700,161.5100,165.76,2694742.0,2018,2,26
397531,AGN,2018-02-27,164.70,165.8900,159.8600,159.91,3250935.0,2018,2,27
397532,AGN,2018-02-28,160.90,161.0900,153.2600,154.22,5928651.0,2018,2,28
397533,AGN,2018-03-01,150.76,151.8000,144.7500,148.19,9340223.0,2018,3,1
397534,AGN,2018-03-02,147.18,147.2700,143.1000,144.02,8464754.0,2018,3,2
397535,AGN,2018-03-05,143.42,149.6500,142.8100,148.73,4028970.0,2018,3,5
397536,AGN,2018-03-06,149.25,151.7000,148.2100,150.71,3304358.0,2018,3,6
397537,AGN,2018-03-07,149.28,153.2800,148.8900,153.22,2927674.0,2018,3,7
397538,AGN,2018-03-08,153.96,154.4655,151.5100,153.50,3242909.0,2018,3,8
397539,AGN,2018-03-09,154.96,157.4300,153.7900,157.28,3291115.0,2018,3,9
397540,AGN,2018-03-12,157.59,160.0400,157.5200,158.41,2733848.0,2018,3,12
397541,AGN,2018-03-13,159.19,164.6000,158.7400,163.19,4250323.0,2018,3,13
397542,AGN,2018-03-14,163.24,168.8500,163.2400,167.06,5032757.0,2018,3,14
397543,AGN,2018-03-15,167.22,168.5799,164.9800,166.12,3641273.0,2018,3,15
397544,AGN,2018-03-16,166.80,170.8100,166.7400,168.96,3681367.0,2018,3,16

In [14]:
dF_month=dF.groupby(['year', 'month','ticker']).mean()

In [15]:
years=list(dF_month.index.levels[0])

In [16]:
years[0]

1962

In [17]:
#dF_month.index.levels[months]

In [18]:
type(dF_month)

pandas.core.frame.DataFrame

In [19]:
dF_month=dF_month.reset_index()

In [20]:
dF_month

,year,month,ticker,open,high,low,close,volume,day
0,1962,1,DIS,37.960455,38.416364,37.574091,37.949091,1.825273e+03,16.318182
1,1962,1,GE,72.160455,72.799545,71.353636,72.143182,1.816364e+04,16.318182
2,1962,1,IBM,556.159091,559.329545,551.863636,554.034091,1.990909e+04,16.318182
3,1962,1,KO,95.397727,96.300909,94.165455,95.114091,2.785455e+04,16.318182
4,1962,2,DIS,38.803158,39.145789,38.585789,38.763158,2.113526e+03,14.315789
5,1962,2,GE,75.539474,75.954211,74.882632,75.500000,1.500526e+04,14.315789
6,1962,2,IBM,546.736842,549.315789,544.052632,546.105263,1.509895e+04,14.315789
7,1962,2,KO,93.578947,94.290000,92.921053,93.434211,1.448421e+04,14.315789
8,1962,3,DIS,38.130909,38.432273,37.970909,38.152727,8.171818e+02,16.045455
9,1962,3,GE,77.240455,77.756818,76.830455,77.285455,1.315000e+04,16.045455
10,1962,3,IBM,547.352273,549.147727,545.352273,546.988636,1.214545e+04,16.045455
11,1962,3,KO,94.284091,94.925455,93.744545,94.278182,4.040000e+04,16.045455
12,1962,4,DIS,36.595000,36.875500,36.301000,36.412500,1.253500e+03,15.000000
13,1962,4,GE,74.355500,74.863000,73.529500,73.943000,1.722500e+04,15.000000
14,1962,4,IBM,516.100000,519.212500,509.137500,512.087500,3.212800e+04,15.000000
15,1962,4,KO,95.364000,96.236500,94.412500,95.251500,2.132000e+04,15.000000
16,1962,5,DIS,32.590455,32.977273,32.175909,32.420455,2.401909e+03,15.363636
17,1962,5,GE,69.534545,70.239545,68.586364,69.398182,2.760909e+04,15.363636
18,1962,5,IBM,443.778182,450.357727,434.170455,440.215909,1.120618e+05,15.363636
19,1962,5,KO,89.381364,90.234091,87.529091,88.920909,4.654545e+04,15.363636
20,1962,6,DIS,29.071429,29.446190,28.403333,28.922381,1.807476e+03,15.761905
21,1962,6,GE,61.292381,62.132381,60.357619,60.940000,2.396667e+04,15.761905
22,1962,6,IBM,343.553810,351.202381,335.196190,341.446667,1.629790e+05,15.761905
23,1962,6,KO,78.428095,79.416667,77.177619,78.040952,4.948571e+04,15.761905
24,1962,7,DIS,28.005238,28.286190,27.790476,28.089048,1.260381e+03,16.523810
25,1962,7,GE,63.160952,64.087143,62.536667,63.518095,1.662381e+04,16.523810
26,1962,7,IBM,365.535238,371.238095,362.714286,367.428571,9.774476e+04,16.523810
27,1962,7,KO,80.565238,81.321429,80.070952,80.951905,2.407619e+04,16.523810
28,1962,8,DIS,29.780435,30.146522,29.521304,29.873913,1.333174e+03,16.347826
29,1962,8,GE,67.158261,67.700870,66.733913,67.217826,1.413478e+04,16.347826
...,...,...,...,...,...,...,...,...,...
18936,2018,3,FB,181.471667,183.346458,179.825833,181.983333,1.787372e+07,9.000000
18937,2018,3,GE,14.445833,14.635417,14.301667,14.470000,7.562241e+07,9.000000
18938,2018,3,GGP,21.298333,21.514167,21.108125,21.356667,3.741575e+06,9.000000
18939,2018,3,GILD,79.699167,80.641458,78.964392,79.780833,7.334605e+06,9.000000
18940,2018,3,GOOGL,1123.739167,1137.403333,1110.725833,1124.685833,1.963785e+06,9.000000
18941,2018,3,HD,179.631667,181.249583,177.605000,179.388333,5.293790e+06,9.000000
18942,2018,3,HLT,80.145833,80.725417,79.470008,80.192500,2.144395e+06,9.000000
18943,2018,3,IBM,157.488333,159.344908,156.188067,157.698333,4.593985e+06,9.000000
18944,2018,3,INTC,50.709167,51.471667,49.938417,50.728333,3.283905e+07,9.000000
18945,2018,3,JNJ,131.043333,132.428333,129.994167,131.254167,7.191808e+06,9.000000
18946,2018,3,JPM,115.411667,116.397433,114.151667,115.335000,1.386340e+07,9.000000
18947,2018,3,KHC,67.071667,67.500750,66.424150,66.950833,4.228484e+06,9.000000
18948,2018,3,KO,43.959167,44.249167,43.688750,44.005833,1.353214e+07,9.000000
18949,2018,3,LLY,78.149167,78.949167,77.609583,78.373333,4.231868e+06,9.000000
18950,2018,3,LMT,339.219167,341.255950,334.202508,337.550833,1.921586e+06,9.000000
18951,2018,3,MRK,54.728333,55.177783,54.313300,54.798333,1.118940e+07,9.000000
18952,2018,3,MS,56.782500,57.462500,56.164500,56.870833,8.692721e+06,9.000000
18953,2018,3,MSFT,94.316667,95.156717,93.279667,94.291667,3.072757e+07,9.000000
18954,2018,3,PEP,110.850000,111.699167,110.141533,111.101667,4.671085e+06,9.000000
18955,2018,3,PFE,36.290000,36.596608,36.017083,36.320833,2.246946e+07,9.000000
18956,2018,3,PG,79.449167,79.941992,79.002058,79.512500,9.408674e+06,9.000000
18957,2018,3,PM,106.561667,107.536250,105.679792,106.650000,4.872197e+06,9.000000
18958,2018,3,SPG,156.276667,157.950833,155.166258,156.729167,1.666106e+06,9.000000
18959,2018,3,T,36.865000,37.151667,36.627083,36.900833,2.143953e+07,9.000000
18960,2018,3,UTX,131.368333,132.244083,129.306667,130.719167,4.265767e+06,9.000000
18961,2018,3,V,122.574167,123.655833,121.303133,122.554167,7.498031e+06,9.000000
18962,2018,3,VFC,73.751667,74.505833,73.165833,73.810000,2.982707e+06,9.000000
18963,2018,3,VZ,48.579167,48.948750,48.216667,48.619167,1.629209e+07,9.000000
18964,2018,3,WFC,57.356667,57.799167,56.657500,57.155833,1.978493e+07,9.000000
18965,2018,3,XOM,75.015833,75.622567,74.392250,74.920833,1.740157e+07,9.000000

In [21]:
dF_month.columns.values

array(['year', 'month', 'ticker', 'open', 'high', 'low', 'close', 'volume',
       'day'], dtype=object)

In [22]:
str(dF_month["year"].iloc[0])+"-"+str(dF_month["month"].iloc[0])+"-31"+"T00:00:00Z"

'1962-1-31T00:00:00Z'

In [26]:
user = 'hoshang'
password = 'test'
dbname = 'adbms'
host='localhost' 
port=8086
# Temporarily avoid line protocol time conversion issues #412, #426, #431.
protocol = 'json'
client = InfluxDBClient(host, port, user, password, dbname)
print("Create database: " + dbname)
#send_response(code, message=None) 
client.create_database(dbname)
for i in range(0,len(dF_month)):
    influx_metric = [{
        'measurement': 'stocks_month',
        'tags': {
            'ticker': dF_month["ticker"].iloc[i],
        },
        'time': str(dF_month["year"].iloc[i])+"-"+str(dF_month["month"].iloc[i])+"-28"+"T00:00:00Z",
        'fields': {
             'open': dF_month['open'].iloc[i],
             'high': dF_month['high'].iloc[i], 
             'low' : dF_month['low'].iloc[i],
             'close': dF_month['close'].iloc[i],
             'volume' : dF_month['volume'].iloc[i],
        }
    }]
    client.write_points(influx_metric)

Create database: adbms

In [27]:
dF_month

,year,month,ticker,open,high,low,close,volume,day
0,1962,1,DIS,37.960455,38.416364,37.574091,37.949091,1.825273e+03,16.318182
1,1962,1,GE,72.160455,72.799545,71.353636,72.143182,1.816364e+04,16.318182
2,1962,1,IBM,556.159091,559.329545,551.863636,554.034091,1.990909e+04,16.318182
3,1962,1,KO,95.397727,96.300909,94.165455,95.114091,2.785455e+04,16.318182
4,1962,2,DIS,38.803158,39.145789,38.585789,38.763158,2.113526e+03,14.315789
5,1962,2,GE,75.539474,75.954211,74.882632,75.500000,1.500526e+04,14.315789
6,1962,2,IBM,546.736842,549.315789,544.052632,546.105263,1.509895e+04,14.315789
7,1962,2,KO,93.578947,94.290000,92.921053,93.434211,1.448421e+04,14.315789
8,1962,3,DIS,38.130909,38.432273,37.970909,38.152727,8.171818e+02,16.045455
9,1962,3,GE,77.240455,77.756818,76.830455,77.285455,1.315000e+04,16.045455
10,1962,3,IBM,547.352273,549.147727,545.352273,546.988636,1.214545e+04,16.045455
11,1962,3,KO,94.284091,94.925455,93.744545,94.278182,4.040000e+04,16.045455
12,1962,4,DIS,36.595000,36.875500,36.301000,36.412500,1.253500e+03,15.000000
13,1962,4,GE,74.355500,74.863000,73.529500,73.943000,1.722500e+04,15.000000
14,1962,4,IBM,516.100000,519.212500,509.137500,512.087500,3.212800e+04,15.000000
15,1962,4,KO,95.364000,96.236500,94.412500,95.251500,2.132000e+04,15.000000
16,1962,5,DIS,32.590455,32.977273,32.175909,32.420455,2.401909e+03,15.363636
17,1962,5,GE,69.534545,70.239545,68.586364,69.398182,2.760909e+04,15.363636
18,1962,5,IBM,443.778182,450.357727,434.170455,440.215909,1.120618e+05,15.363636
19,1962,5,KO,89.381364,90.234091,87.529091,88.920909,4.654545e+04,15.363636
20,1962,6,DIS,29.071429,29.446190,28.403333,28.922381,1.807476e+03,15.761905
21,1962,6,GE,61.292381,62.132381,60.357619,60.940000,2.396667e+04,15.761905
22,1962,6,IBM,343.553810,351.202381,335.196190,341.446667,1.629790e+05,15.761905
23,1962,6,KO,78.428095,79.416667,77.177619,78.040952,4.948571e+04,15.761905
24,1962,7,DIS,28.005238,28.286190,27.790476,28.089048,1.260381e+03,16.523810
25,1962,7,GE,63.160952,64.087143,62.536667,63.518095,1.662381e+04,16.523810
26,1962,7,IBM,365.535238,371.238095,362.714286,367.428571,9.774476e+04,16.523810
27,1962,7,KO,80.565238,81.321429,80.070952,80.951905,2.407619e+04,16.523810
28,1962,8,DIS,29.780435,30.146522,29.521304,29.873913,1.333174e+03,16.347826
29,1962,8,GE,67.158261,67.700870,66.733913,67.217826,1.413478e+04,16.347826
...,...,...,...,...,...,...,...,...,...
18936,2018,3,FB,181.471667,183.346458,179.825833,181.983333,1.787372e+07,9.000000
18937,2018,3,GE,14.445833,14.635417,14.301667,14.470000,7.562241e+07,9.000000
18938,2018,3,GGP,21.298333,21.514167,21.108125,21.356667,3.741575e+06,9.000000
18939,2018,3,GILD,79.699167,80.641458,78.964392,79.780833,7.334605e+06,9.000000
18940,2018,3,GOOGL,1123.739167,1137.403333,1110.725833,1124.685833,1.963785e+06,9.000000
18941,2018,3,HD,179.631667,181.249583,177.605000,179.388333,5.293790e+06,9.000000
18942,2018,3,HLT,80.145833,80.725417,79.470008,80.192500,2.144395e+06,9.000000
18943,2018,3,IBM,157.488333,159.344908,156.188067,157.698333,4.593985e+06,9.000000
18944,2018,3,INTC,50.709167,51.471667,49.938417,50.728333,3.283905e+07,9.000000
18945,2018,3,JNJ,131.043333,132.428333,129.994167,131.254167,7.191808e+06,9.000000
18946,2018,3,JPM,115.411667,116.397433,114.151667,115.335000,1.386340e+07,9.000000
18947,2018,3,KHC,67.071667,67.500750,66.424150,66.950833,4.228484e+06,9.000000
18948,2018,3,KO,43.959167,44.249167,43.688750,44.005833,1.353214e+07,9.000000
18949,2018,3,LLY,78.149167,78.949167,77.609583,78.373333,4.231868e+06,9.000000
18950,2018,3,LMT,339.219167,341.255950,334.202508,337.550833,1.921586e+06,9.000000
18951,2018,3,MRK,54.728333,55.177783,54.313300,54.798333,1.118940e+07,9.000000
18952,2018,3,MS,56.782500,57.462500,56.164500,56.870833,8.692721e+06,9.000000
18953,2018,3,MSFT,94.316667,95.156717,93.279667,94.291667,3.072757e+07,9.000000
18954,2018,3,PEP,110.850000,111.699167,110.141533,111.101667,4.671085e+06,9.000000
18955,2018,3,PFE,36.290000,36.596608,36.017083,36.320833,2.246946e+07,9.000000
18956,2018,3,PG,79.449167,79.941992,79.002058,79.512500,9.408674e+06,9.000000
18957,2018,3,PM,106.561667,107.536250,105.679792,106.650000,4.872197e+06,9.000000
18958,2018,3,SPG,156.276667,157.950833,155.166258,156.729167,1.666106e+06,9.000000
18959,2018,3,T,36.865000,37.151667,36.627083,36.900833,2.143953e+07,9.000000
18960,2018,3,UTX,131.368333,132.244083,129.306667,130.719167,4.265767e+06,9.000000
18961,2018,3,V,122.574167,123.655833,121.303133,122.554167,7.498031e+06,9.000000
18962,2018,3,VFC,73.751667,74.505833,73.165833,73.810000,2.982707e+06,9.000000
18963,2018,3,VZ,48.579167,48.948750,48.216667,48.619167,1.629209e+07,9.000000
18964,2018,3,WFC,57.356667,57.799167,56.657500,57.155833,1.978493e+07,9.000000
18965,2018,3,XOM,75.015833,75.622567,74.392250,74.920833,1.740157e+07,9.000000

In [36]:
dF_year=dF_month.groupby(['year','ticker']).mean()
dF_year=dF_year.reset_index()
dF_year.head()

,year,ticker,month,open,high,low,close,volume,day
0,1962,DIS,6.5,31.785422,32.108319,31.448197,31.738924,1525.447956,15.794723
1,1962,GE,6.5,70.078108,70.686144,69.409325,70.067289,17400.574926,15.794723
2,1962,IBM,6.5,433.777886,438.173561,429.226148,432.796064,72424.927473,15.794723
3,1962,KO,6.5,86.729354,87.453027,85.882380,86.628268,28334.460790,15.794723
4,1963,DIS,6.5,37.965352,38.369597,37.652577,37.983691,2708.405251,15.693402

In [32]:
user = 'hoshang'
password = 'test'
dbname = 'adbms'
host='localhost' 
port=8086
# Temporarily avoid line protocol time conversion issues #412, #426, #431.
protocol = 'json'
client = InfluxDBClient(host, port, user, password, dbname)
print("Create database: " + dbname)
#send_response(code, message=None) 
client.create_database(dbname)
for i in range(0,len(dF_year)):
    influx_metric = [{
        'measurement': 'stocks_year',
        'tags': {
            'ticker': dF_year["ticker"].iloc[i],
        },
        'time': str(dF_year["year"].iloc[i])+"-12-31"+"T00:00:00Z",
        'fields': {
             'open': dF_year['open'].iloc[i],
             'high': dF_year['high'].iloc[i], 
             'low' : dF_year['low'].iloc[i],
             'close': dF_year['close'].iloc[i],
             'volume' : dF_year['volume'].iloc[i],
        }
    }]
    client.write_points(influx_metric)

Create database: adbms

In [33]:
codes=pd.read_csv("WIKI-codes.csv")

In [37]:
codes.head()

   WIKI/AAPL Apple Inc (AAPL) Prices, Dividends, Splits and Trading Volume
0   WIKI/ABC  AmerisourceBergen Corp. (ABC) Prices, Dividend...
1    WIKI/AA  Alcoa Inc. (AA) Prices, Dividends, Splits and ...
2  WIKI/ABBV  AbbVie Inc. (ABBV) Prices, Dividends, Splits a...
3   WIKI/ACE  ACE Ltd (ACE) Prices, Dividends, Splits and Tr...
4   WIKI/AGN  Allergan Inc. (AGN) Prices, Dividends, Splits ...

In [41]:
dF_avg=dF_year.groupby("ticker").mean()

In [49]:
dF_avg=dF_avg.reset_index()
dF_avg.describe()

,index,year,month,open,high,low,close,volume,day
count,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,4.700000e+01,47.000000
mean,23.000000,2001.138298,6.393640,83.056340,83.927813,82.160062,83.068552,9.177283e+06,15.672918
std,13.711309,7.366716,0.161788,87.953494,88.799159,87.045361,87.940053,1.158733e+07,0.122617
min,0.000000,1990.000000,5.500000,29.311973,29.593651,29.008505,29.315442,1.674697e+05,15.230157
25%,11.500000,1995.000000,6.392857,50.594126,51.296291,49.859219,50.573405,2.869482e+06,15.666615
50%,23.000000,2001.000000,6.421053,63.317784,63.856577,62.790028,63.343575,4.705490e+06,15.677023
75%,34.500000,2005.500000,6.457447,78.105080,78.776593,77.470353,78.139530,9.293489e+06,15.683654
max,46.000000,2017.500000,6.538462,604.635975,610.334522,598.481374,604.490573,5.019737e+07,16.058197

In [48]:
user = 'hoshang'
password = 'test'
dbname = 'adbms'
host='localhost' 
port=8086
# Temporarily avoid line protocol time conversion issues #412, #426, #431.
protocol = 'json'
client = InfluxDBClient(host, port, user, password, dbname)
print("Create database: " + dbname)
#send_response(code, message=None) 
client.create_database(dbname)
for i in range(0,len(dF_avg)):
    influx_metric = [{
        'measurement': 'stocks_avg',
        'tags': {
            'ticker': dF_avg["ticker"].iloc[i],
        },
        'time': str("2018-04-14"+"T00:00:00Z"),
        'fields': {
            'open': dF_avg['open'].iloc[i],
            'high': dF_avg['high'].iloc[i], 
            'low' : dF_avg['low'].iloc[i],
            'close': dF_avg['close'].iloc[i],
            'volume' : dF_avg['volume'].iloc[i],
        }
    }]
    client.write_points(influx_metric)

Create database: adbms